*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100vw;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    height: calc(100vh - 100px);
    background: no-repeat center/cover url('assets/image-header3.jpg');
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

header nav p{
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}
.header-content{
    max-width: 400px;
    margin: 80px auto;
    text-align: center;
}
.header-content p{
    font-size: 20px;
}
.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}
button{
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(42, 95, 77);
    color: white;
    cursor: pointer;
}
.pacotes{
    padding: 15px;
    background-color: rgb(221, 231, 226);
}
.pacotes .pacotes-card{
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap; 
}
.pacotes-title{
    width: 100%;
    margin: 25px 0;
    text-align: center;
    font-size: 30px;
}
.pacotes .card{
    width: 250px;
    height: 350px;
    border-radius: 24px 0;
    margin: 25px;
    background-color: rgba(7, 170, 102, 0.527);
    position: relative;
}
.pacotes .card .card-tag-top{
    position: absolute;
    right: 0;
    background-color: rgba(255, 166, 0, 0.719);
    border-radius: 8px 0 8px 0;
    top: 15px;
    padding: 5px 10px;
}
.pacotes .card .card-tag-bottom{
    position: absolute;
    left: 0;
    top: 178px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(6, 15, 134);
    padding: 4px;
    
}
.pacotes .card .card-tag p{
    margin: 0;
    font-size: .8rem;
    color: white;
}
.pacotes .card-image{
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}
.pacotes .card-content{
    padding: 0 15px;
}
.pacotes .card-content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.pacotes .card-content ul li{
    font-size: 1rem;
    display: flex;
    align-items: 'center';
    margin: 3px 0;
}
.pacotes .card-content ul li svg{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.pacotes .card-content h1{
    font-size: 1.1rem;
}
.servicos{
    padding: 15px;
}
.servicos .card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 20px;

}
.servicos .card svg{
    width: 80px;
    height: 60px;
    margin: 20px 0;
    transform: scale(1.1);
}
.servicos .card svg:hover{
    stroke: rgb(51, 122, 98);

}
.servicos .card .card-content{
    height: 250px;
}
.servicos .card p{
    color: gray;
    font-size: 1rem;
}
.servicos .servicos-title{
    text-align: center;
    margin: 35px 0;
}
.servicos .servicos-card{
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
}
.contato{
    padding: 60px;
    background-color:rgb(221, 231, 226);
    position: relative;
}
.contato .contato-card li{
    font-size: .8rem;
    display: flex;
    align-items: center;
}
.contato .contato-card li svg{
    width: 18px;
    margin: 10px;
}
.contato .contato-card{
    width: 350px;
    height: 300px;
    background-color: white;
    position: absolute;
    z-index: 99;
    border-radius: 10px;

    top: calc(50% - 150px);
    left:calc(25% - 155px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contato .contato-card h1{
    padding-left: 50px;
    text-align: left;
}
#map {
    height: 400px;
    width: 100%;
}


/* Landscape phone to portrait tablet */
@media (max-width: 950px) {
       .contato{
           padding: 60px;
       }
       .contato-card{
           left: 40px;
       }
}
@media (max-width: 800px) {
    .contato{
        padding: 30px 0;
    }
    .contato .contato-card{
        position:static;
        margin: 40px auto;
    }
}
/* Responsividade para celular */
@media (max-width: 480px) {

    body{
        margin-bottom: 55px;
    }

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 50px;

        z-index: 99;

        background-color: rgb(168, 196, 171);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    header nav p{
        width: 100%;
        text-align: center;
    }
 }

